.movie__card {
  width: 100%;
  margin-top: 8px;
}

.movie__photo {
  height: 140px;
  position: absolute;
}

.movie__photo-skeleton {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.06);
  height: 50%;
}

.movie__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
}

.movie__top {
  padding-left: 110px;
}

.movie__block {
  display: flex;
}

.movie__tegs {
  position: absolute;
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.movie__info {
  padding-top: 90px;
  flex: 1 1;
}

.movie__rate {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: flex-end;
}

@media (min-width: 576px) {
  .movie__card {
    margin-top: 34px;
  }

  .movie__photo {
    display: block;
    width: clamp(10rem, 18vw, 16rem);
    height: 100%;
    position: relative;
  }

  .movie__photo-skeleton {
    position: relative;
  }

  .movie__content {
    padding: 12px 9px 4px 20px;
  }

  .movie__top {
    padding-left: 0;
    padding-top: 0;
  }

  .movie__tegs {
    position: relative;
  }

  .movie__info {
    padding-top: 1px;
  }
}

@media (min-width: 1140px) {
  .movie__card {
    flex: 1 1 calc(100% / 2 - 16px * 1 / 2)
  }
}
